
@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');


body{
    background-color: black;
}
.bg{
    position: fixed; width: 100vw; height: 100vh;
    left: 0; top: 0;
    background-image: url(/portfolio/images/mainpage2.jpeg);
    background-size: cover;
    opacity: 0.1;
}
.logo{
    margin: auto;
    display: flex;
    justify-content: center;
    position: relative;
    top: 250px;
    font-family: 'Creepster', system-ui;
    color: white;
}
h1{
    font-size: 100px;
}
.menu{
    color: white;
    margin: 20%;
    display: flex;
    justify-content: center;
    line-height: 3;
    animation-duration: 1s ease;
}
.point:hover{
    cursor: pointer;
}