*{
    background-color: black;
}
.toplogo img{
    display: block;
}
.toplogo{
    width: 100vw;
    height: 100vh;

}
.toplogo img{
    height: 100vh;
    margin: 0 auto;
}
header {
    width: 100vw;
    border: 2px solid black;
    display: flex;
    position: relative;
    bottom: 300px;
    left: 550px;
}

.top1 {
    width: 100vw;
    height: 100vh;
    border: 3px solid white;
}

.top2 {
    width: 100vw;
    height: 100vh;
    border: 3px solid white;
    border-top: none;
    text-align: center;
    color: white;
}

.sticky {
    width: 100vw;
    height: 100vh;
    border: 3px solid black;
    position: sticky;
    top: 0;
    color: white;
}

ul {
    font-size: 20px;
    line-height: 3em;
}

.button {
    position: absolute;
    right: 37px;
    top: 288px;
    background-color: lightblue;
    color: white;
}

.background {
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    background-color: black;
    color: white;
    margin-top: -300px;
}
.background h1 {
    text-align: center;


}
.backall1 {
    font-size: x-large;
    margin-left: 160px;
    margin-right: 10px;
    margin-top: 20px;

}
.skill{ 
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    background-color: black;
    color: white;
}
    
.skill h1 {
    text-align: center;
    margin-top: 200px;
}
video{
    width: 100vw;
    position: relative;
    left: 510px;
}
section {
    margin-top: 10px;
}
a{
    text-decoration: none;
    color: white;
}
p{
    line-height: 2.5em;
}
i{
    color: gray;
}
iframe{
    width: 100vw;
    height: 100wh;
}
.soul{
    color: burlywood;
}
.depence{
    color: gold;
}
.AP{
    color: cornflowerblue;
}
.stun{
    color: violet;
}
.magic{
    color: cornflowerblue;
}
.recycle{
    color: darkorange;
}
.protect{
    color: darkturquoise;
}
.attack{
    color: lightsalmon;
}
.up{
    background: no-repeat 50% 0 fixed;
}
.down{
    height: 100vh;
    background: url(https://pbs.twimg.com/media/FKV-LuVVEAEGk9w.jpg:large) no-repeat 50% 0 fixed;
    background-size: cover;
}