*{
    background-color: black;
    color: white;
    padding: 0;
    margin: 0;
}
body{
    overflow-x: hidden;
}
header{
    height: 100px;
}
.homelogo {
    display: block;
    height: 100%;
    margin: 0 auto;
}
a {
    text-decoration-line: none;
}
li {
    line-height: 60px;
}
main{
    position: relative ;
    left: 10%;
    top: -250px;
    width: 80%;
}
.sticky {
    width: 100px;
    height: 250px;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 2;
}
.topimg {
    width: 50%;
    height: auto;
    box-sizing: border-box;
    border: 1px solid white;
    display: block;
    margin: 0 auto;
}
.text1 {
    width: 50%;
    padding: 30px;
    text-align: center;
    position: relative;
    left: 21%;
    font-size: 30px;
    font-family: var(--page-font-family-var);
}
i{
    color: rgba(211, 211, 211, 0.51);
}
div h1{
    width: 50%;
    padding: 10px 0;
    box-sizing: border-box;
    border: 1px solid white;
    text-align: center;
    margin: 0 auto;
}
div h2{
    width: 60%;
    border-bottom: 1px solid white;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
}
.detail{
    width: 60%;
    position: relative;
    line-height: 50px;
    margin: 0 auto;
}
video{
    margin: 20px;
    width: 50%;
    height: auto;
    position: relative;
    top: 50px;
    left: 23%;
    border: 1px solid white;
}
div img{
    margin: 0 auto;
    height: auto;
    position: relative;
}
div h4{
    margin: 0 auto;
    height: auto;
    position: relative;
    left: 25%;
}
.passive1 img{
    left: 25%;
}
.passive1 h3{
    width: 40%;
    position: relative;
    text-align: center;
    top: -75px;
    left: 30%;
    font-size: xx-large;
}
.passive1 p{
    margin: 0 auto;
    width: 70%;
    line-height: 40px;
}
.qskill img{
    left: 25%;
}
.qskill h3{
    width: 33%;
    position: relative;
    text-align: center;
    top: -60px;
    left: 38%;
    font-size: 19px;
}
.qskill p{
    margin: 0 auto;
    width: 70%;
    line-height: 40px;
}
.wskill img{
    left: 25%;
}
.wskill h3{
    width: 40%;
    position: relative;
    text-align: center;
    top: -75px;
    left: 30%;
    font-size: xx-large;
}
.wskill p{
    margin: 0 auto;
    width: 70%;
    line-height: 40px;
}
.eskill img{
    left: 25%;
}
.eskill h3{
    width: 40%;
    position: relative;
    text-align: center;
    top: -75px;
    left: 30%;
    font-size: xx-large;
}
.eskill p{
    margin: 0 auto;
    width: 70%;
    line-height: 40px;
}
.rskill img{
    left: 25%;
}
.rskill h3{
    width: 40%;
    position: relative;
    text-align: center;
    top: -75px;
    left: 30%;
    font-size: xx-large;
}
.rskill p{
    margin: 0 auto;
    width: 70%;
    line-height: 40px;
}
.madmovie h2{
    margin-top: 40px;
}
iframe{
    width: 100%;
    position: relative;
}   
.madmovie-section {
    height: auto;
}
div .madmovie{
    height: 200px;
}
.bottom {
    height: 1200px;
    background: url(https://pbs.twimg.com/media/FKV-LuVVEAEGk9w.jpg:large) no-repeat 50% 0 fixed;
    background-size: cover; 
}