@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/********************** 몸통 부분 시작 ************************/
body{
    background-color: black;
}
.index_header{
    text-align: center;
}
.bg{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-image: url(/2th/images/mainpage2.jpeg);
    background-size: cover;
    opacity: 0.1;
}
.logo {
    height: 50vh;
    display: flex;
    position: relative;
    align-items: flex-end;
    justify-content: center;
    font-family: 'Creepster', system-ui;
    color: white;
}
.time{
    font-family: Courier New,Courier,Monaco;
    color: white;
    line-height: 1.12;
}
h1{
    font-size: 100px;
}
h1:hover{
    cursor: default;
}
.index_container{
    position: relative;
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    line-height: 1.2;
    
} 
.main-nav{
    width: 227px;
    padding-left: 23px;
    margin-left: 100px;
    margin-top: 80px;
    font-family: Courier New,Courier,Monaco;
    text-decoration: none;
}
.main-nav2{
    list-style: none;
    margin: 0;
    padding: 0;
}
.index_container .main-nav .main.nav2 li{
    height: 12.5px;
}
.mn{
    margin-bottom: 15px;
}
.main-nav2 li a:hover{
    cursor: pointer;
    background-color: green;
}
span{
    color: white;
}
.main-nav2 a {
    text-decoration: none;
}
.index_footer{
    color: gray;
    margin-top: 200px;
    font-size: 0.6rem;
    font-family: HelveticaNeue,sans-serif;
    text-align: center;
}
.btlogos{
    position: relative;
    margin-top: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
}
.btlogos li{
    margin-right: 15px;
}
.btlogos li a i:hover{
    cursor: pointer;
    color: white;
}
a i{
    color: gray;
}
.index_footer a{
    color: gray;
    text-decoration: none;
    font-weight: bold;
}